EnemiesResource (
    bat: EnemyData (
        texture_patch: "Bat_Fly.png",
        texture_layout_size: Vec2(32.0, 32.0),
        texture_layout_columns: 4,
        texture_layout_rows:1,
        animation_last_indice: 3,
        health: 1000.0,
        speed: 30.0,
        damage: 10.0,
        collider_height: 7.0,
        collider_radius: 7.0,
        mass: 0.5,
        experience_drop: Some(1),
        is_boss: false,
        is_semi_boss: false,
    ),
    bee: EnemyData (
        texture_patch: "Bee_Walk.png",
        texture_layout_size: Vec2(32.0, 32.0),
        texture_layout_columns: 4,
        texture_layout_rows:1,
        animation_last_indice: 3,
        health: 10.0,
        speed: 30.0,
        damage: 10.0,
        collider_height: 2.0,
        collider_radius: 4.0,
        mass: 0.5,
        experience_drop: Some(1),
        is_boss: false,
        is_semi_boss: false,
    ),
    golem: EnemyData (
        texture_patch: "Golem_Run.png",
        texture_layout_size: Vec2(32.0, 32.0),
        texture_layout_columns: 4,
        texture_layout_rows:1,
        animation_last_indice: 3,
        health: 10.0,
        speed: 18.0,
        damage: 20.0,
        collider_height: 3.5,
        collider_radius: 9.0,
        mass: 2.0,
        experience_drop: Some(1),
        is_boss: false,
        is_semi_boss: false,
    ),
    rabbit: EnemyData (
        texture_patch: "Rabbit_Brown_Move.png",
        texture_layout_size: Vec2(32.0, 32.0),
        texture_layout_columns: 6,
        texture_layout_rows:1,
        animation_last_indice: 5,
        health: 10.0,
        speed: 35.0,
        damage: 10.0,
        collider_height: 3.0,
        collider_radius: 6.0,
        mass: 1.0,
        experience_drop: Some(1),
        is_boss: false,
        is_semi_boss: false,
    ),
    skull: EnemyData (
        texture_patch: "Bones_SingleSkull_Fly.png",
        texture_layout_size: Vec2(32.0, 32.0),
        texture_layout_columns: 8,
        texture_layout_rows:1,
        animation_last_indice: 7,
        health: 10.0,
        speed: 30.0,
        damage: 10.0,
        collider_height: 3.0,
        collider_radius: 4.0,
        mass: 0.3,
        experience_drop: Some(1),
        is_boss: false,
        is_semi_boss: false,
    ),
    boss_wolf: EnemyData (
        texture_patch: "Canine_White_Run.png",
        texture_layout_size: Vec2(48.0, 32.0),
        texture_layout_columns: 4,
        texture_layout_rows:2,
        animation_last_indice: 5,
        health: 100.0,
        speed: 42.0,
        damage: 30.0,
        collider_height: 4.0,
        collider_radius: 12.0,
        mass: 4.0,
        experience_drop: None,
        is_boss: true,
        is_semi_boss: false,
    ),
)
