ItemsResource (
    weighted_rarity: [
        (Common, 5000),
        (Uncommon, 2000),
        (Rare, 400),
        (Epic, 70),
        (Legendary, 10),
        (Cursed, 0), // has a chance to occur for each offered card
        (Unique, 1), // same???
    ],
    items: {
        "HEALTHY_GEM_STONE":
        ItemData(
            name: "HEALTHY GEM STONE",
            texture_atlas_index: 0,
            rarity_to_effects: {
                Common: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: MaxHealth,
                        value: 0.1,
                    )],
                    description: "Increase health by 10%",
                ),
                Uncommon: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: MaxHealth,
                        value: 0.15,
                    )],
                    description: "Increase health by 15%",
                ),
                Rare: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: MaxHealth,
                        value: 0.20,
                    )],
                    description: "Increase health by 20%",
                ),
                Epic: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: MaxHealth,
                        value: 0.30,
                    )],
                    description: "Increase health by 30%",
                ),
                Legendary: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: MaxHealth,
                        value: 0.5,
                    )],
                    description: "Increase health by 50%",
                ),
            },
        ),
        "PUMMAROLA":
        ItemData(
            name: "PUMMAROLA",
            texture_atlas_index: 1,
            rarity_to_effects: {
                Common: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Recovery,
                        value: 1.0,
                    )],
                    description: "Increase health recovery by 0.2 health/s",
                ),
                Uncommon: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Recovery,
                        value: 2.0,
                    )],
                    description: "Increase health recovery by 0.4 health/s",
                ),
                Rare: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Recovery,
                        value: 3.0,
                    )],
                    description: "Increase health recovery by 0.6 health/s",
                ),
                Epic: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Recovery,
                        value: 4.0,
                    )],
                    description: "Increase health recovery by 0.8 health/s",
                ),
                Legendary: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Recovery,
                        value: 5.0,
                    )],
                    description: "Increase health recovery by 1 health/s",
                ),
            },
        ),
        "HERMES_BOOTS":
        ItemData(
            name: "HERMES BOOTS",
            texture_atlas_index: 2,
            rarity_to_effects: {
                Common: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: MoveSpeed,
                        value: 0.05,
                    )],
                    description: "Increase move speed by 5%",
                ),
                Uncommon: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: MoveSpeed,
                        value: 0.07,
                    )],
                    description: "Increase move speed by 7%",
                ),
                Rare: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: MoveSpeed,
                        value: 0.1,
                    )],
                    description: "Increase move speed by 10%",
                ),
                Epic: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: MoveSpeed,
                        value: 0.15,
                    )],
                    description: "Increase move speed by 15%",
                ),
                Legendary: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: MoveSpeed,
                        value: 0.2,
                    )],
                    description: "Increase move speed by 20%",
                ),
            },
        ),
        "MAGNET":
        ItemData(
            name: "MAGNET",
            texture_atlas_index: 3,
            rarity_to_effects: {
                Common: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Magnet,
                        value: 0.1,
                    )],
                    description: "Increase pickup radius by 10%",
                ),
                Uncommon: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Magnet,
                        value: 0.15,
                    )],
                    description: "Increase pickup radius by 15%",
                ),
                Rare: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Magnet,
                        value: 0.2,
                    )],
                    description: "Increase pickup radius by 20%",
                ),
                Epic: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Magnet,
                        value: 0.3,
                    )],
                    description: "Increase pickup radius by 30%",
                ),
                Legendary: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Magnet,
                        value: 0.5,
                    )],
                    description: "Increase pickup radius by 50%",
                ),
            },
        ),
        "ALL_MIGHT":
        ItemData(
            name: "ALL MIGHT",
            texture_atlas_index: 4,
            rarity_to_effects: {
                Common: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Power,
                        value: 0.05,
                    )],
                    description: "Increase all damage by 5%",
                ),
                Uncommon: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Power,
                        value: 0.07,
                    )],
                    description: "Increase all damage by 7%",
                ),
                Rare: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Power,
                        value: 0.1,
                    )],
                    description: "Increase all damage by 10%",
                ),
                Epic: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Power,
                        value: 0.15,
                    )],
                    description: "Increase all damage by 15%",
                ),
                Legendary: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Power,
                        value: 0.2,
                    )],
                    description: "Increase all damage by 20%",
                ),
            },
        ),
        "AREA":
        ItemData(
            name: "AREA",
            texture_atlas_index: 5,
            rarity_to_effects: {
                Common: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Area,
                        value: 0.1,
                    )],
                    description: "Increase area of damage by 10%",
                ),
                Uncommon: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Area,
                        value: 0.15,
                    )],
                    description: "Increase area of damage by 15%",
                ),
                Rare: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Area,
                        value: 0.2,
                    )],
                    description: "Increase area of damage by 20%",
                ),
                Epic: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Area,
                        value: 0.3,
                    )],
                    description: "Increase area of damage by 30%",
                ),
                Legendary: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Area,
                        value: 0.5,
                    )],
                    description: "Increase area of damage by 50%",
                ),
            },
        ),
        "DICES":
        ItemData(
            name: "DICES",
            texture_atlas_index: 8,
            rarity_to_effects: {
                Common: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Luck,
                        value: 0.1,
                    )],
                    description: "Increase luck by 10%",
                ),
                Uncommon: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Luck,
                        value: 0.15,
                    )],
                    description: "Increase luck by 15%",
                ),
                Rare: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Luck,
                        value: 0.2,
                    )],
                    description: "Increase luck by 20%",
                ),
                Epic: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Luck,
                        value: 0.3,
                    )],
                    description: "Increase luck by 30%",
                ),
                Legendary: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Luck,
                        value: 0.5,
                    )],
                    description: "Increase luck by 50%",
                ),
            },
        ),
        "ARMOR":
        ItemData(
            name: "ARMOR",
            texture_atlas_index: 7,
            rarity_to_effects: {
                Common: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Resistance,
                        value: 0.05,
                    )],
                    description: "Increase resistance by 5%",
                ),
                Uncommon: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Resistance,
                        value: 0.05,
                    )],
                    description: "Increase resistance by 7%",
                ),
                Rare: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Resistance,
                        value: 0.1,
                    )],
                    description: "Increase resistance by 10%",
                ),
                Epic: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Resistance,
                        value: 0.15,
                    )],
                    description: "Increase resistance by 15%",
                ),
                Legendary: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: Resistance,
                        value: 0.2,
                    )],
                    description: "Increase resistance by 20%",
                ),
            },
        ),
        "GLOVES":
        ItemData(
            name: "GLOVES OF SPEED",
            texture_atlas_index: 6,
            rarity_to_effects: {
                Common: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: AttackSpeed,
                        value: 0.05,
                    )],
                    description: "Increase projectile speed by 5%",
                ),
                Uncommon: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: AttackSpeed,
                        value: 0.1,
                    )],
                    description: "Increase projectile speed by 10%",
                ),
                Rare: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: AttackSpeed,
                        value: 0.15,
                    )],
                    description: "Increase projectile speed by 15%",
                ),
                Epic: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: AttackSpeed,
                        value: 0.2,
                    )],
                    description: "Increase projectile speed by 20%",
                ),
                Legendary: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: AttackSpeed,
                        value: 0.3,
                    )],
                    description: "Increase projectile speed by 30%",
                ),
            },
        ),
        "RELOAD":
        ItemData(
            name: "RELOAD",
            texture_atlas_index: 9,
            rarity_to_effects: {
                Common: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: AttackReloadDuration,
                        value: -0.05,
                    )],
                    description: "Reduce weapon reloading by 5%",
                ),
                Uncommon: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: AttackReloadDuration,
                        value: -0.1,
                    )],
                    description: "Reduce weapon reloading by 10%",
                ),
                Rare: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: AttackReloadDuration,
                        value: -0.15,
                    )],
                    description: "Reduce weapon reloading by 15%",
                ),
                Epic: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: AttackReloadDuration,
                        value: -0.2,
                    )],
                    description: "Reduce weapon reloading by 20%",
                ),
                Legendary: ItemEffects(
                    effects: [ItemEffect(
                        base_stat: AttackReloadDuration,
                        value: -0.3,
                    )],
                    description: "Reduce weapon reloading by 30%",
                ),
            },
        ),
        "THE_DESTROYER":
        ItemData(
            name: "THE DESTROYER",
            texture_atlas_index: 10,
            rarity_to_effects: {
                Cursed: ItemEffects(
                    effects: [
                        ItemEffect(
                            base_stat: Power,
                            value: 1.0,
                        ),
                        ItemEffect(
                            base_stat: MoveSpeed,
                            value: -0.5,
                        )
                    ],
                    description: "Increase damage by 100% but move speed is reduce by 50%",
                ),
            },
        ),
        "MIGHTY_SWORD":
        ItemData(
            name: "MIGHTY SWORD",
            texture_atlas_index: 11,
            rarity_to_effects: {
                Unique: ItemEffects(
                    effects: [
                        ItemEffect(
                            base_stat: Power,
                            value: 1.0,
                        )
                    ],
                    description: "Increase damage by 100%",
                ),
            },
        ),
    }
)
